CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.*
*.generated*
*.sln
*.slnx
*.g.*

Bin/*
Tools/Build
Docs/Doxygen
Source/Engine/Graphics/GraphicsVK/Thirdparty/GLAD

!.github
!Bin/Templates
