[submodule "Tools/BuildTool/Dependencies/picojson"]
	path = Tools/Shared/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "Tools/BuildTool/Dependencies/glob"]
	path = Tools/Shared/glob
	url = https://github.com/p-ranav/glob.git
[submodule "Tools/BuildTool/Dependencies/tinyxml2"]
	path = Tools/Shared/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "Source/Engine/Graphics/GraphicsD3D12/Thirdparty/DirectX-Headers"]
	path = Source/Engine/Graphics/GraphicsD3D12/Thirdparty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "Tools/Shared/googletest"]
	path = Tools/Shared/googletest
	url = https://github.com/google/googletest.git
