CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.*
*.generated*
*.sln
*.g.*

Bin/*
Tools/Build
Docs/Doxygen

!.github
!Bin/Templates
