[submodule "Tools/BuildTool/Dependencies/picojson"]
	path = Tools/BuildTool/Dependencies/picojson
	url = https://github.com/kazuho/picojson.git
[submodule "Tools/BuildTool/Dependencies/glob"]
	path = Tools/BuildTool/Dependencies/glob
	url = https://github.com/p-ranav/glob.git
[submodule "Tools/BuildTool/Dependencies/tinyxml2"]
	path = Tools/BuildTool/Dependencies/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "Tools/BuildToolGUI/Dependencies/sciter"]
	path = Tools/BuildToolGUI/Dependencies/sciter
	url = https://gitlab.com/sciter-engine/sciter-js-sdk.git
[submodule "Source/Engine/Graphics/GraphicsD3D12/Thirdparty/DirectX-Headers"]
	path = Source/Engine/Graphics/GraphicsD3D12/Thirdparty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
