CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vs
/Bin
/Tools/Build
*.generated*
.Faro
*.sln
/Docs/Doxygen
/Source/Engine/Core/Source/EngineVersion.generated.cpp
*.g.*
