@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --background-light: #62717B;
    --background-main: #37474f;
    --background-titlebar: #102027;
    --interact-idle: #00ADB5;
    --interact-hover: #00949c;
    --text-title: #ffffff;
    --text-interact: #ffffff;
    --text-console: #ffffff;
  }

html 
{
    background-color: transparent;
}

body 
{
    width: 100%;
    height: 100%;
    margin: 0;
}

*
{
    font: 1em Source Sans Pro;
}

.page
{
    padding: 0;
    margin: 0;

    height:100%;
    -webkit-box-sizing: border-box;
    
    border-radius: 16px;
    
    background: var(--background-main);
    
    overflow: hidden;
}

.titlebar
{
    position: relative;

    background: var(--background-titlebar);
    height: 36px;
}

.titlebar button
{
    background: var(--interact-idle);
    float: right;
    width: 36px;
    height: 100%;
    padding: 0px;
    border: 0px;

    border-radius: 0;

    position: relative;
}

#minimizeButton
{
    border-top-left-radius: 16px;
}

.titlebar button:hover
{
    background: var(--interact-hover);
}

#minimizeButton img
{
    position: absolute;
    top: 17px;
    left: 10px;
    width: 16px;
    height: 3px;
}

#closeButton img
{
    position: absolute;
    top: 6px;
    left: 6px;
    width: 24px;
    height: 24px;
}

.titlebar p
{
    color: var(--text-title);
    margin: 0px;

    font-size: 24px;

    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.headerContainer
{
    overflow: auto;
}

.header
{
    margin: 0;
    height: 109px;
    position: relative;
}

#projectPath 
{
    position: absolute;
    left: 6px;
    top: 6px;
    right: 45px;
    height: 33px;

    border: 0;
    padding: 0;
}


#openFileButton 
{
    position: absolute;
    right: 6px;
    top: 6px;
    width: 33px;
    height: 33px;
    padding: 0;
}

#openFileButton img 
{
    width: 20px;
    height: 15px;
    position: absolute;
    left: 8px;
    top: 9px;
}

select 
{
    position: absolute;
    top: 45px;
    height: 26px;
    width: 180px;
    background: var(--interact-idle);
    border: 0;
    border-radius: 5px;
    color: var(--text-interact);
}

select:hover
{
    background: var(--interact-hover);
}

select popup
{
    border: 0;
}

select button 
{
    position: absolute;
    top: 11px;
    right: 7px;
    width: 10px;
    height: 5px;
    foreground-image: none;
    background: url("./img/dropdownArrow.png");
    background-size: 10px 5px;
}

select option 
{
    color: var(--text-interact);
    background: var(--interact-idle);
}

select option:hover 
{
    background: var(--interact-hover);
}

#selectPlatform 
{
    left: 6px;
}

#selectConfig 
{
    right: 6px;
}

.header > button 
{
    width: 25%;
    height: 26px;
}

#commandOutput
{
    color: var(--text-console);
    background-color: var(--background-light);

    overflow-y: scroll;
    vertical-scrollbar: VerticalScrollbar;

    word-wrap: break-word;

    padding-right: 8px;
}

#consoleText
{
    margin: 8px;
}

@set VerticalScrollbar
{
    .base
    {
        display: none;
        width: 8px;
    }
    
    .slider
    {
        background: var(--interact-idle);
        border-radius: 4px;
    }

    .slider:hover
    {
        background: var(--interact-hover);
    }
}

.header > button
{
    color: var(--text-interact);
    height: 26px;
    border-radius: 5px;
    border: 0px;
    background: var(--interact-idle);
}

.header > button:hover 
{
    background: var(--interact-hover);
}

#runGenerate, #runClean, #runBuild 
{
    position: absolute;
    bottom: 6px;
}

#runGenerate 
{
    left: 6px;
}

#runClean 
{
    left: 50%;
    transform: translate(-50%, 0);
}

#runBuild 
{
    right: 6px;
}

