name: FaroEngine Package Engine

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ToolchainWindows:
    runs-on: windows-latest
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Generate
      run: cmake ./Tools

    - name: Build
      run: cmake --build . --config Release

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ToolchainWindows
        if-no-files-found: error
        path: |
          Bin/*.exe
          Bin/*.dll
          !Bin/*_Test.*

  ToolchainLinux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y uuid-dev

    - name: Generate
      run: cmake ./Tools

    - name: Build
      run: cmake --build . --config Release

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ToolchainLinux
        if-no-files-found: error
        path: |
          Bin/*
          !Bin/*_Test

  ToolchainCoverage:
    runs-on: windows-latest
    timeout-minutes: 30
    needs: [ToolchainWindows, ToolchainLinux]
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Get OpenCppCoverage
      run: |
        choco install OpenCppCoverage -y
        echo "C:\Program Files\OpenCppCoverage" >> $env:GITHUB_PATH

    - name: Generate
      run: cmake ./Tools

    - name: Build
      run: cmake --build . --config Debug

    - name: Test
      shell: cmd
      run: OpenCppCoverage.exe --config_file Tools\CoverageConfig.txt --working_dir .\ --verbose --export_type=cobertura:Documentation/html/Coverage/Coverage.xml --export_type=html:Documentation/html/Coverage --optimized_build Bin\FaroToolsTest.exe

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ToolchainCoverage
        if-no-files-found: error
        path: |
          ./Documentation/**/*

    - name: Report to Codecov
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      with:
          files: ./Documentation/html/Coverage/Coverage.xml
          fail_ci_if_error: true
          flags: Toolchain,UnitTests
          os: windows

  Documentation:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Generate
      run: cmake ./Docs

    - name: Build
      uses: mattnotmitt/doxygen-action@v1.9.8
      with:
        doxyfile-path: 'Doxygen'
        working-directory: 'Docs'

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Documentation
        if-no-files-found: error
        path: |
          ./Documentation/*
          ./Documentation/**/*

  PackageEngine:
    runs-on: ubuntu-latest
    needs: [ToolchainWindows, ToolchainLinux, Documentation]
    steps:
    - name: Checkout engine
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: DownloadToolchainWindows
      uses: actions/download-artifact@v4
      with:
        name: ToolchainWindows
        path: ./Bin

    - name: DownloadToolchainLinux
      uses: actions/download-artifact@v4
      with:
        name: ToolchainLinux
        path: ./Bin

    - name: DownloadDocumentation
      uses: actions/download-artifact@v4
      with:
        name: Documentation
        path: ./Documentation

    - name: List files
      run: ls -R

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y uuid-dev

    - name: Generate
      run: cmake ./Tools

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: FaroEngine
        if-no-files-found: error
        path: |
          Bin/*
          Source/**/*
          !Source/**/*.in
          Documentation/*
          Documentation/**/*

  BuildEngine:
    strategy:
      matrix:
        platform: [WindowsX64]
        config: [release, development, debug]
    runs-on: windows-latest
    timeout-minutes: 30
    needs: PackageEngine
    steps:
    - name: actions/download-artifact@v4
      uses: actions/download-artifact@v4
      with:
        name: FaroEngine

    - name: Generate
      run: Bin/FaroBuildTool.exe -generate -project Source/FaroEngine.faroproject.json

    - name: Build
      run: Bin/FaroCLI.exe -configure -build -platform ${{ matrix.platform }} -${{ matrix.config }} -path Source/FaroEngine.faroproject.json

  PublishDocumentation:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: Documentation
    steps:
    - name: actions/download-artifact@v4
      uses: actions/download-artifact@v4
      with:
        name: Documentation
        path: Documentation

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./Documentation/html
